<div class="box-rounded">
	<p class="box-header">
		<span class="glyphicon glyphicon-user"> </span> Persönliche Daten
	</p>

	<div class="box-content form-group">
		<p>
			<input type="text" class="form-control" 
				name="TravellerFirstName"
				value="@Model.FirstName"
				placeholder="Vorname" disabled />
		</p>
		<p>
			<input type="text" class="form-control" 
				name="TravellerLastName"
				value="@Model.LastName" 
				placeholder="Nachname" disabled />
		</p>
		<p>
  			<input type="email" class="form-control" 
	  			name="TravellerEMail"
	  			value="@Model.EMail"
	  			placeholder="Email"/>
		</p>
	</div>
</div>	