<div class="box-rounded">
	<p class="box-header">
		<span class="glyphicon glyphicon-user"> </span> Persönliche Daten
	</p>

	<div class="box-content form-group">
		<p>
			<input type="text" class="form-control" 
				name="TravellerFirstName" 
				placeholder="Vorname"/>
		</p>
		<p>
			<input type="text" class="form-control" 
				name="TravellerLastName" 
				placeholder="Nachname"/>
		</p>
		<p>
  			<input type="email" class="form-control" 
	  			name="TravellerEMail"
	  			placeholder="Email"/>
		</p>
	</div>
</div>